.cart-dropdown {
  position: absolute;
  width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  .empty-message {
    font-size: 18px;
    margin: 50px auto;
    color: rgba(0, 0, 0, 0.329);
  }
  .cart-items {
    max-height: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }
}
